<div class="container mt-3 mx-auto">
  <h1>Events</h1>

  <table>
    <thead>
      <tr>
        <th class="col-1">Title</th>
        <th class="col-3">Description</th>
        <th class="col-1">Date</th>
        
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td class="col-2"><%= event.title %></td>
          <td class="col-4"><%= event.description %></td>
          <td class="col-1"><%= event.date %></td>
          <td class="col-1"><%= link_to 'Show', event %></td>
          <td class="col-1"><%= link_to 'Edit', edit_event_path(event) %></td>
          <td class="col-1"><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%#<td> <%= button_to 'Attend', {:controller => "attendances", :action => "create", :event_id => event.id, :user_id=> current_user} , :method=>:post %> </td>
          <%#<%= link_to 'Button', users_events_path(user_id: user_id, event_id: event_id), method:, action: :create, method: :post %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Event', new_event_path %>
</div>
